@page
@model MTM.Pages.Classes.DetailsModel

@{
    ViewData["Title"] = "Class";
}

<h1>Thông Tin Lớp</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Class.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Class.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Class.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Class.ID">Cập Nhật</a> |
    <a asp-page="./Index">Quay Về</a>
</div>
