@page
@model MTM.Pages.Classes.IndexModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    ViewData["Title"] = "Classes";
}

<script src="~/js/class.js"></script>

<h4>Danh Sách Lớp</h4>

<hr />
<input hidden name="__RequestVerificationToken" value="@antiforgery.GetAndStoreTokens(HttpContext).RequestToken" />
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="form-row">
            <div class="col">
                <input type="text" name="SearchString" class="form-control" value="@Model.CurrentFilter" placeholder="Tên . Thành Phố " autofocus />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i> Tìm</button> |
                <a asp-page="./Index">Hủy Tìm Kiếm</a>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Classes[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CitySort" asp-route-currentFilter="@Model.CurrentFilter">
                    @Html.DisplayNameFor(model => model.Classes[0].City)
                </a>
            </th>
            <th class="col-function">
                <a asp-page="./Create" title="Thêm Mới" class="btn btn-sm btn-outline btn-outline-primary mb-2 func-icon">
                    <span class="fa fa-plus"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Classes)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td class="col-function">
                    <a asp-page="./Edit" asp-route-id="@item.ID" title="Cập Nhật" class="btn btn-group btn-outline-info mb-2 func-icon">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.ID" title="Chi Tiết" class="btn btn-group btn-outline-success mb-2 func-icon">
                        <span class="fa fa-eye" aria-hidden="true"></span>
                    </a>
                    <button id="btnDelete_@item.ID" name="@item.Name" value="@item.ID" title="Xóa" class="btn btn-group btn-outline-danger mb-2 func-icon">
                        <span class="fa fa-trash"></span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Classes.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Classes.HasNextPage ? "disabled" : "";
}

@if (Model.Classes.HasPreviousPage || Model.Classes.HasNextPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Classes.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-outline-primary fa fa-long-arrow-left @prevDisabled" title="Trang trước">
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Classes.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-outline-primary fa fa-long-arrow-right @nextDisabled" title="Trang sau">
    </a>
}