@page
@model MTM.Pages.Classes.IndexModel

@{
    ViewData["Title"] = "Classes";
}

<h3>Danh Sách Lớp</h3>

<p>&nbsp;</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Classes[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Classes[0].City)
            </th>
            <th>
                <div class="col">
                    <a asp-page="./Create" class="btn-outline btn-outline-secondary mb-2"><i class="fa fa-plus"></i>&nbsp;Thêm Mới</a>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Classes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID" title="Cập Nhật" class="btn btn-group btn-outline-info mb-2">
                    <span class="fa fa-edit"></span>
                </a>
                <a asp-page="./Details" asp-route-id="@item.ID" title="Chi Tiết" class="btn btn-group btn-outline-primary mb-2">
                    <span class="fa fa-eye" aria-hidden="true"></span>
                </a>
                <a asp-page="./Delete" asp-route-id="@item.ID" title="Xóa" class="btn btn-group btn-outline-danger mb-2">
                    <span class="fa fa-trash" aria-hidden="true"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>
