@page
@model MTM.Pages.Disciples.DeleteModel

@{
    ViewData["Title"] = "Disciple";
}

<h2>Xóa Thông Tin Đồng Tu</h2>

<h3>Bạn muốn xóa thông tin Đồng Tu này?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disciple.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disciple.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disciple.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disciple.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disciple.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disciple.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disciple.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disciple.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disciple.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disciple.DateOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Disciple.InitiateDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Disciple.InitiateDate)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Disciple.ID" />
        <input type="submit" value="Xóa" class="btn btn-danger" /> |
        <a asp-page="./Index">Quay Về</a>
    </form>
</div>
