@page
@model MTM.Pages.Disciples.IndexModel

@{
    ViewData["Title"] = "Disciples";
}

<h1>Danh Sách Đồng Tu</h1>

<p>
    <a asp-page="Create">Tạo Mới</a>
</p>
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <p>
            Tìm kiếm:
            <input type="text" name="SearchString" value="@Model.CurrentFilter" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-page="./Index">Đầy đủ danh sách</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Số Điện Thoại</th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    Họ Tên
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ClassSort" asp-route-currentFilter="@Model.CurrentFilter">
                    Lớp
                </a>
            </th>
            <th>Thọ Pháp</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Disciples)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitiateDate)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.ID">Cập Nhật</a> |
                    <a asp-page="./Details" asp-route-id="@item.ID">Chi Tiết</a> |
                    <a asp-page="./Delete" asp-route-id="@item.ID">Xóa</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Disciples.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Disciples.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Disciples.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Trang trước
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Disciples.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Trang sau
</a>