@page
@model MTM.Pages.Disciples.IndexModel

@{
    ViewData["Title"] = "Disciples";
}

<h4>Danh Sách Đồng Tu</h4>
<hr />
<form asp-page="./Index" method="get">
    <div class="form-actions no-color">
        <div class="form-row">
            <div class="col">
                <input type="text" name="SearchString" class="form-control" value="@Model.CurrentFilter" placeholder="Tên . Lớp . Số ĐT" autofocus />
            </div>
            <div class="col">
                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-search"></i> Tìm</button> |
                <a asp-page="./Index">Hủy Tìm Kiếm</a>
            </div>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Điện Thoại</th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort" asp-route-currentFilter="@Model.CurrentFilter">
                    Họ Tên
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.ClassSort" asp-route-currentFilter="@Model.CurrentFilter">
                    Lớp
                </a>
            </th>
            <th>Thọ Pháp</th>
            <th class="col-function">
                <a asp-page="./Create" title="Thêm Mới" class="btn btn-sm btn-outline btn-outline-primary mb-2 func-icon">
                    <span class="fa fa-plus"></span>
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Disciples)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Class.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitiateDate)
                </td>
                <td class="col-function">
                    <a asp-page="./Edit" asp-route-id="@item.ID" title="Cập Nhật" class="btn btn-group btn-outline-info mb-2 func-icon">
                        <span class="fa fa-edit"></span>
                    </a>
                    <a asp-page="./Details" asp-route-id="@item.ID" title="Chi Tiết" class="btn btn-group btn-outline-success mb-2 func-icon">
                        <span class="fa fa-eye" aria-hidden="true"></span>
                    </a>
                    <a asp-page="./Delete" asp-route-id="@item.ID" title="Xóa" class="btn btn-group btn-outline-danger mb-2 func-icon">
                        <span class="fa fa-trash" aria-hidden="true"></span>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.Disciples.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Disciples.HasNextPage ? "disabled" : "";
}

@if (Model.Disciples.HasPreviousPage || Model.Disciples.HasNextPage)
{
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Disciples.PageIndex - 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-outline-primary fa fa-long-arrow-left @prevDisabled" title="Trang trước">
    </a>
    <a asp-page="./Index"
       asp-route-sortOrder="@Model.CurrentSort"
       asp-route-pageIndex="@(Model.Disciples.PageIndex + 1)"
       asp-route-currentFilter="@Model.CurrentFilter"
       class="btn btn-outline-primary fa fa-long-arrow-right @nextDisabled" title="Trang sau">
    </a>
}